.row {
    height: 100vh;
    background: none ; 
  }

  #picture {
    background: url(../../assets/images/secured.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  a {
    color: inherit;
    text-decoration-color: white;
  }

  #team_name {
    font-size: x-small;
  }

  #herotext {
    display: block;
    position: absolute;
    font-size: 6rem;
    bottom: 0vh;
    width: 25%;
  }

  @media only screen and (max-width: 600px) {
    #herotext,
    #picture {
      display: none;
    }
  }